.Text-size{
    position: relative;
    top: 3px;
   
    
  
    
}
.Experience{
    display: flex;
    gap: 16px;
    align-items: center;
}
.Round-icon{

    margin-top: 8px;
    width: 10px;
    height: 10px;
    background-color: #031a3f!important;
    border-radius: 50%;
    margin-left: 16px;
    align-self: start;
}
.Text-size1{
    margin-bottom: -55px;;
}